@media(width > 768px){
    .container {
        width: 540px;
        height: 332px;
    }
    .listen {
        margin-top: 205px;
    }
    .leftline {
        width: 196px;
    }
    .rightline {
        width: 196px;
    }
    .advice {
        font-size: 13px;
    }
    .sharp {
        font-size: 13px;
    }
    .text {
        margin-left: 50px;
        font-size: 28px;
        width: 444px;
    } 
    .fanji {
        margin-top: 18px;
    } 
}